[submodule "hpc-workflow-manager"]
	path = hpc-workflow-manager
	url = git@github.com:fiji-hpc/hpc-workflow-manager.git
[submodule "scp-java-client"]
	path = scp-java-client
	url = git@github.com:fiji-hpc/scp-java-client.git
[submodule "heappe-java-client"]
	path = heappe-java-client
	url = git@github.com:fiji-hpc/heappe-java-client.git
[submodule "cluster_job_launcher"]
	path = cluster_job_launcher
	url = git@github.com:fiji-hpc/cluster_job_launcher.git
[submodule "runners-logging-ui"]
	path = runners-logging-ui
	url = git@github.com:fiji-hpc/runners-logging-ui.git
[submodule "wfm-test-client"]
	path = wfm-test-client
	url = git@github.com:fiji-hpc/wfm-test-client.git
